* {
  font-family: "bryant-web", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 16px;
}

body {
  display: flex;
  align-items: center;
  flex-direction: column;
}

/* TRAINING SECTION */

#trainingType {
  margin: 20px 0px 20px 0px;
  background-color: #dd792a;
  color: #ffffff;
  text-align: center;
  padding: 5px;
}

/* TIME SECTION */

#timeAvailInput {
  width: 90%;
  padding: 12px 20px;
  margin: 20px auto;
  display: block;
  box-sizing: border-box;
  font-style: italic;
}

#labelTimeInput {
  display: block;
  margin: auto;
  margin-top: 10px;
  text-align: center;
}

#errorMessage {
  text-align: center;
  color: #d90000;
  font-style: italic;
}

/* SNACK SECTION CHOOSE*/
.snacksSection {
  background-color: #f1f1e9;
  width: 80%;
}

.snackOption {
  margin: 10px 0 5px 0;
  background-color: transparent;
  border: 1px solid #2e0927;
  display: flex;
}

.snackLabel {
  display: block;
  font-style: italic;
}

/* SNACK CONTENT SECTION */

.snackChosen {
  border: #2e0927 solid 2px;
  padding: 10px;
}

#snackChosenName {
  text-decoration: underline;
  font-weight: bold;
  margin-top: 10px;
  text-align: center;
  font-size: 1.1rem;
}

#snackChosenOutdoor {
  border: transparent 0px;
  padding: 0%;
  margin: 0%;
}

#ctaLinkButton {
  display: block;
  margin: 10px auto;
  background-color: transparent;
  border: 0px;
  text-decoration: underline;
  color: #d90000;
}

/* SNACK NUTRIENT SECTION */

#richFood {
  margin-top: 10px;
  text-align: center;
}

/* BUTTON */

button {
  cursor: pointer;
}

.controlButton {
  display: block;
  background-color: #2e0927;
  color: #ffffff;
  padding: 10px;
  border-radius: 5px;
  margin: auto;
}

.controlButton:hover {
  background-color: #d90000;
}

#validTrainingButton {
  display: flex;
}

/* BUTTOM SECTION */

#buttomSection {
  width: 50%;
}

#progression-bar {
  margin: 30px auto;
  width: 80%;
  max-width: 400px;
  position: relative;
  height: 10px;
  border: 2px solid #2e0927;
  border-radius: 5px;
}

#progression-percentage {
  text-align: center;
}

#filled-bar {
  background-color: #2e0927;
  height: 10px;
  width: 0px;
}

@media (min-width: 900px) {
  /* Put above CSS already used for timeInput to have it in one line but for mobile put above "combien de temps..." and below "inputFiled " to see all the placeholder text*/

  #timeAvailSection {
    display: flex; /* Flexbox makes the label and input appear on the same line */
    justify-content: center; /* Ensures no extra space between label and input */
    align-items: center; /* Vertically aligns the label and input */
    width: 60%; /* Optional: Adjust the container width if necessary */
    margin: 0 auto; /* Centers the section */
  }

  #labelTimeInput {
    display: inline-block;
    margin: 0;
    text-align: right;
    width: auto; /* Let the label take only the space it needs */
  }

  #timeAvailInput {
    display: inline-block;
    width: 40%; /* Make the input fill the remaining space */
    box-sizing: border-box; /* Ensures padding is included in width calculation */
  }

  #progression-bar {
    margin: auto;
    margin-top: 30px;
    display: flex;
    height: 10px;
    width: 80%;
    border: 2px solid #2e0927;
    border-radius: 5px;
  }
}
